# Server Config
PORT=5000
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=1d

# PostgreSQL Database Config
PGUSER=postgres
PGPASSWORD=Bhavanarushi
PGHOST=localhost
PGPORT=5432
PGDATABASE=Major_project